<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.kasusa.communityaccessmanagement">
    <!-- mysql need -->
    <uses-permission android:name="android.permission.INTERNET" /> <!-- qrcode need -->
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.FLASHLIGHT" />

    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" />

    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/topBar_welcome"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".ScanOutputActivity"
            android:label="@string/topBar_QRoutput"
            android:parentActivityName=".HomeActivity"
            ></activity>
        <activity
            android:name=".ScanChooseActivity"
            android:label="@string/topBar_chooseQR"
            android:parentActivityName=".HomeActivity"/>
        <activity
            android:name=".activity_xiaoqu.MakeSureXiaoquActivity"
            android:label="@string/topBar_Mksure_xiaoqu" />
        <activity
            android:name=".activity_xiaoqu.SelectXiaoquActivity"
            android:label="@string/topBar_SelectXiaoqu" />
        <activity
            android:name=".activity_Login.FindMyPwdActivity"
            android:label="@string/topBar_findpwd"
            android:parentActivityName=".activity_Login.LoginPwdActivity" />
        <activity
            android:name=".RegisterOptionalActivity"
            android:label="@string/topBar_register2" />
        <activity
            android:name=".RegisterMustHaveActivity"
            android:label="@string/topBar_register1" />
        <activity
            android:name=".MeActivity"
            android:label="@string/topBar_me"
            android:parentActivityName=".HomeActivity" />
        <activity
            android:name=".HomeActivity"
            android:label="@string/topBar_Home" />
        <activity
            android:name=".activity_Login.LoginPwdActivity"
            android:label="@string/topBar_login_pwd" />
        <activity
            android:name=".activity_Login.LoginActivity"
            android:label="@string/topBar_login" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>