<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.kasusa.communityaccessmanagement">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/topBar_welcome"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".RegisterOptionalActivity"
            android:label="@string/topBar_register2"
            ></activity>
        <activity
            android:name=".RegisterMustHaveActivity"
            android:label="@string/topBar_register1" />
        <activity
            android:name=".MeActivity"
            android:label="@string/topBar_me"
            android:parentActivityName=".HomeActivity" />
        <activity
            android:name=".HomeActivity"
            android:label="@string/topBar_Home" />
        <activity
            android:name=".LoginPwdActivity"
            android:label="@string/topBar_login_pwd" />
        <activity
            android:name=".LoginActivity"
            android:label="@string/topBar_login" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>